<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountt">
      <h2 data-cy="accounttDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.accountt.detail.title">Accountt</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountt.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.accountt.name">Name</span></dt>
        <dd>
          <span>{{ accountt.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.accountt.organization">Organization</span></dt>
        <dd>
          <div *ngIf="accountt.organization">
            <a [routerLink]="['/organization', accountt.organization.id, 'view']">{{ accountt.organization.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.accountt.user">User</span></dt>
        <dd>
          <div *ngIf="accountt.user">
            <a [routerLink]="['/userr', accountt.user.id, 'view']">{{ accountt.user.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/accountt', accountt.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
