<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="groupComposition">
      <h2 data-cy="groupCompositionDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.groupComposition.detail.title">Group Composition</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ groupComposition.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.groupComposition.group">Group</span></dt>
        <dd>
          <span>{{ groupComposition.group }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.groupComposition.account">Account</span></dt>
        <dd>
          <span>{{ groupComposition.account }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/group-composition', groupComposition.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
