<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userr">
      <h2 data-cy="userrDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.userr.detail.title">Userr</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userr.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.userr.name">Name</span></dt>
        <dd>
          <span>{{ userr.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.userr.customer">Customer</span></dt>
        <dd>
          <div *ngIf="userr.customer">
            <a [routerLink]="['/customer', userr.customer.id, 'view']">{{ userr.customer.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/userr', userr.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
